#contact_modal {
  display: none;
  transform: translateY(-91rem);
  height: 300vh;
  width: 100%;
  background-color: rgba(192, 189, 189, 0.5);
  margin-top: -50px;
  padding-top: 50px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 20px 100px;
  display:flex ;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 670px;
  /* max-height: 970px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

/*Modal contact form*/
#form-field {
  margin-top: 50px;
}

#email {
  height: 68px;
}

.errorStyle {
  color: #ee0c0c;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.errorForm {
  border: 2px solid #ee0c0c;
}

#form-field textarea.errorForm {
  border: 2px solid #ee0c0c;
}

input {
  padding: 8px;
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

#form-field textarea {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  border: 2px solid #DB8876;
  font-size: 36px;
  font-weight: normal!important;
}

.profil-title {
  font-weight: 400;
  font-size: 64px;
  color: #D3573C;
  margin-bottom:0;
}

.location {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
  margin-top :0;
}

.slogan {
  font-weight: 400;
  font-size: 18px;
  color: #525252
}

#thumbs {
	height: 200px;
	width: 200px;
	border-radius: 50%;
  object-fit: cover;
}

#label_trier {
  font-weight: bold;
  font-size: 20px;
}

/* Dropdown Button */
.dropdown>.dropbtn {
  background-color: #901C1C;
  color: white;
  padding: 0.5rem 3.08rem;
  font-size: 16px;
  border: 1px solid #901C1C;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  height: 60px;
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  width: 170px;
  position: relative;
  display: inline-block;
  margin: 1rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901C1C;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
  border-radius: 0 0 5px 5px;
  transition: all 1.00s ease-in-out;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0.5rem 4.1rem;
  text-decoration: none;
  display: block;
  border-top: 2px solid white;
  margin: 0 0.5rem;
  font-weight: bold;  
}

.show {
  display: block;
}

.fa-chevron-up{
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  color: white;
}

.fa-chevron-up-none{
  display: none;
}

#close-up-icon{
  cursor: pointer;
}

.trier-par-txt{
  margin-left: 2.5rem;
  font-weight: 500;
  font-family: sans-serif;
}

.fa-chevron-down{
  position: absolute;
  right: 1rem;
  top: 1.3rem;;
  color: white;
  cursor: pointer;
}

/* cards-image temporaire */
.card-container {
  display: flex;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards {
  margin-left: 7rem;
  display: flex;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.card {
  flex-direction: column;
  display: flex;
}

.card-img {
  height: 300px;
  width: 350px;
  border-radius: 5px;
}

.card-content {
  display: flex;
  height: 30px;
  position: relative;
  font-size: 24px;
}

.card-title {
  position: absolute;
  top: -80%;
  left: 0;
  color:#901C1C;
}

.card-counter {
  position: absolute;
  top: 20%;
  right: 0;
  color:#901C1C;
}

#price{
  color:black;
  margin-left: -4rem;
}

.card-like {
  margin-left: -6rem;
  color:#901C1C;
}

/* element float in the page down rigth */
.price_badge {
  width: 300px;
  height: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #db8876;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  padding: 1rem;
  text-align: right;
}

#lightBoxContainer{
  width: 100%;
  height: 200vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(192, 189, 189, 0.5);
  z-index: 2;
  display: none;
}

#lightBoxBody{
  background-color: rgb(255, 255, 255);
  display: none;
  width: 60%;
  height: 90%;
  position: fixed;
  left: 50%;
  transform: translate(-50%,0);
  top: 3%;
  text-align: center;
  margin: 0 auto;
  /* z-index: 3; */
}

.closeIcon{
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 1.7rem;
  color: #901C1C;
}

.leftIcon{
  position: absolute;
  left: 1rem;
  top: 48%;
  font-size: 2rem;
  cursor: pointer;
  color: #901C1C;
}

.rightIcon{
  position: absolute;
  right: 1rem;
  top: 48%;
  font-size: 2rem;
  cursor: pointer;
  color: #901C1C;
}

.cardBox-img {
  height: 90vh;
  width: 90vh;
  border-radius: 5px;
}