.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 30px 50px;
  display:flex ;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
}

.contact_button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: white;
  color: #901C1C;
  border: 3px solid #901C1C;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  overflow: auto;
  max-height: 80vh;
}

/* background Modal */
#contact_modal {
  display: none;
  height: 150vh;
  width: 100%;
  background-color: rgba(192, 189, 189, 0.5);
  padding-top: 50px;
  position: fixed;
  top: 0%;
  left: 0%;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

/*Modal contact form*/
#form-field {
  margin-top: 50px;
}

#email {
  height: 68px;
}

.errorStyle {
  color: #ee0c0c;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.errorForm {
  border: 2px solid #ee0c0c;
}

#form-field textarea.errorForm {
  border: 2px solid #ee0c0c;
}

input {
  padding: 8px;
  outline: none;
}

#form-field textarea {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  border: 2px solid #DB8876;
  font-size: 36px;
  font-weight: normal !important;
}

/* header presentation */
.logoP {
  height: 50px;
	margin-left: 68px;
	margin-top:44px;
	cursor: pointer;
}

.logoP:hover {
	transform: scale(1.02);
}

.profil-title {
  font-weight: 400;
  font-size: 64px;
  color: #D3573C;
  margin-bottom: 0;
  line-height: 83px;
}

.location {
  font-weight: 400;
  line-height: 31px;
  font-size: 24px;
  color: #901C1C;
  margin-top :0;
}

.slogan {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #525252
}

#thumbs {
	height: 200px;
	width: 200px;
	border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 3px 0px grey;
}

/* Dropdown Text */
#label_trier {
  font-weight: bold;
  font-size: 20px;
}

/* Dropdown Button */
.dropdown>.dropbtn {
  background-color: #901C1C;
  color: white;
  padding: 0.5rem 3.08rem;
  font-size: 19px;
  border: 1px solid #901C1C;
  cursor: pointer;
  height: 60px;
  font-weight: bold;
  width: 200px;
  border-radius: 5px 5px 5px 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  width: 170px;
  position: relative;
  display: inline-block;
  margin: 1rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901C1C;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  border-radius: 0 0 5px 5px;
  transition: all 1.00s ease-in-out;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0.5rem 4.42rem;
  text-decoration: none;
  display: block;
  border-top: 2px solid white;
  /* margin-left: -0.5rem; */
  font-weight: bold;  
  font-size: 19px;
  width: 59px;
  height: 32px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.fa-chevron-up{
  position: absolute;
  top: 1.5rem;
  right: -1rem;
  color: white;
}

.fa-chevron-up-none{
  display: none;
}

#close-up-icon{
  cursor: pointer;
}

.trier-par-txt{
  margin-left: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 19px;
}

.fa-chevron-down{
  position: absolute;
  right: -1rem;
  top: 1.5rem;
  color: white;
  cursor: pointer;
}

/* cards-image NEW */
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
}

.cards {
  margin: auto ; 
  display: flex;
  margin-bottom: 5rem;
  margin-top: 10px;
  width: 400px;
}

.card {
  flex-direction: column;
  display: flex;
}

.card-img {
  height: 350px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px darkgrey;
}

.card-img:hover {
  transform: scale(1.018);
}

.card-content {
  height: 30px;
  position: relative;
  font-size: 24px;
  top: 100%;
}

.card-title {
  position: relative;
  top: -50%;
  left: -25rem;
  color:#901C1C;
  width: 350px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.card-counter {
  position: absolute;
  top: 60%;
  color:#901C1C;
  left: -3.5rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.card-video {
  height: 350px;
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
}

.card-video:hover {
  transform: scale(1.018);
}

.card-video-light{
  width: 90%;
  height:95%;
}

#price{
  color:black;
  margin-left: 5rem;
}

.card-like {
  margin-left: 5px;
  color:#901C1C;
  cursor: pointer;
}

.card-like:hover {
  transform: scale(1.2);
}
.card-likeB {
  margin-left: -2rem;
  color:black;
}

/* element float in the page down rigth */
.price_badge {
  width: 333px;
  height: 20px;
  position: fixed;
  bottom: 0;
  right: 30px;
  background-color: #db8876;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  padding: 21px 34px 21px 31px;
  text-align: right;
}

#lightBoxContainer {
  width: 100%;
  height: 200vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

#lightBoxBody { 
  background-color: rgba(255, 255, 255);
  display: none;
  width: 60%;
  height: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%,0);
  top: 2%;
  text-align: center;
  margin: 0 auto;
}

#lightBg {
  display: none;
  height: 150vh;
  width: 100%;
  background-color: rgba(255, 255, 255);
  padding-top: 50px;
  position: fixed;
  top: 0%;
  left: 0%;
}

.closeIcon {
  position: absolute;
  right: 1rem;
  top: 4rem;
  font-size: 1.7rem;
  color: #901C1C;
}

.leftIcon {
  position: absolute;
  left: 1rem;
  top: 48%;
  font-size: 2rem;
  cursor: pointer;
  color: #901C1C;
}

.rightIcon {
  position: absolute;
  right: 1rem;
  top: 46%;
  font-size: 2rem;
  cursor: pointer;
  color: #901C1C;
}

.cardBox-img {
  height: 78vh;
  width: 80vh;
  border-radius: 5px;
  margin-top: 4rem;
  box-shadow: 3px 0px 10px 0px darkgrey;
}

.lightBoxCounter {
  position: fixed;
  bottom: 10.5%;
  right: 22%;
  color:#901C1C;
  font-size: 20px;
  font-weight: bold;
}

.lightBoxLike {
  position: fixed;
  bottom: 11%;
  right: 19%;
  color: #901C1C;
  font-size: 20px;
  font-weight: bold;
}

.lightBoxLikeV {
  position: fixed;
  bottom: 12%;
  right: 5%;
  color: #901C1C;
  font-size: 20px;
  font-weight: bold;
}

.cardBox-vid {
  width: 800px;
  border-radius: 5px;
  margin-top: 8rem;
  box-shadow: 3px 0px 10px 0px darkgrey;
}
