@media screen and (max-width: 1310px) {
	.card-container {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}
}

@media screen and (max-width: 920px) {
	.card-container {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

@media screen and (max-width: 500px) {
	.logoP {
		height: 50px;
		margin-left: 5rem;
    margin-top: 16px;
		cursor: pointer;
	}

	.photograph-header {
		margin: 0px;	
		height: auto;
	}

	.profil-title {
		font-size: 50px;
	}

	.contact_button {
		margin-left: 2rem;
		padding: 0;
		width: 200px;
	}

  .card-img {
		height: 250px;
		width: 325px;
	}

	#thumbs {
		margin-top: 2rem;
		margin-bottom: 2rem;
		margin-left: 2rem;
	}

	.mainContainer {
		padding: 1rem 16px;
	}

	.trier-par-txt{
		margin-left: 0.8rem;
	}

	.card-title {
		left: -20rem;
	}

	.price_badge {
		right: 0;
		width: 295px;
	}

	.card-likeB {
		margin-left:0;
	}

	.card-video {
		height: 200px;
		width: 330px;
		cursor: pointer;
	}

	.cardBox-img {
		height: 55vh;
		width: 49vh;
		margin-left: -5rem;
	}

	.closeIcon {
		right: -4rem;
	}

	.leftIcon{
		left: -4rem;
    top: 36%;
	}

	.rightIcon{
		right: -4rem;
    top: 36%;
	}

	#photoTitle {
		position: sticky;
	}
}

@media screen and (max-width: 1096px) {
	#container {	
		display: grid;
		grid-template-columns:1fr 1fr ;
		gap: 10px;
		margin: 71px 0;
	}
}

@media screen and (max-width: 820px) {
	#container {	
		display: grid;
		grid-template-columns:1fr ;
		gap: 10px;
		margin: 71px 0;
	}

	.logo {
		height: 50px;
		margin-left: 0;
		padding-top:44px;
		cursor: pointer;
	}

	#header {
		display: flex;
		flex-direction: column !important;
		justify-content: space-around;
		height: 90px;
	}

	h1.title {
		margin-right: 0px;
		margin-top: 0px;
	}
	
	.photographer_section article {
		border: 3px solid #901C1C;
		width: 310px;
		height: 350px;
		border-radius:5px;
	}
}
