@import url("photographer.css");

body {
	font-family: "DM Sans", sans-serif;
	margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: scroll;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

h1 {
	color: #901C1C;
}

h1.title {
	margin-right: 2rem;
}

#fullName {
	color: black;
	font-weight: 400;
	font-size: 64px;
	margin-top: -10px;
	margin-bottom: -1rem;
}

#photoTitle {
	color: #901C1C;
	font-size: 24px;
	text-align: left;
	font-weight: bold;
	position: fixed;
	bottom: 10%;
	left: 19%;
}

#videoTitle {
  color: #901C1C;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  position: fixed;
  bottom: 12%;
  left: 6%;
}

.logo {
	height: 50px;
	margin-left: 100px;
}

#container{
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin-top: 100px;
	margin-bottom: 100px;
}

@media screen and (max-width: 1079px) {
	#container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 720px) {
	#container {
		grid-template-columns: 1fr;
		gap: 30px;
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.photographer_section article {
		border: 3px solid #901C1C;
		border-radius: 5px;
		width: 330px;
		height: 380px;
	}
	
	#header {
		display: flex;
		flex-direction: column!important;
		justify-content: center;
		align-items: center;
		height: 90px;
	}

	.logo {
		margin-left: 0px;
		margin-top: 5rem;
		border: none;
	}

	h1.title {
		margin-right: 0rem !important;
	}

	img {
		border: 2px solid #901C1C;
	}
}

.photographer_section article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photographer_section article h2 {
	color: #D3573C;
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 0;
}

.photographer_section article h3 {
	margin-top: 0;
	margin-bottom: 0;
	color: #901C1C;
	font-size: 17px;
	font-weight: normal;
}

.photographer_section article p {
	margin-top: 0.2rem;
	margin-bottom: 0.3rem;
	font-size: 13px;
}

.photographer_section article span {
	margin-top: 0;
	margin-bottom: 0;
	color: #757575;
	font-size: 9px;
}

.photographer_section article img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	object-fit: cover;
}

